/*
* {
    box-sizing: border-box;
    para evitar que os tamanhos definidos saem do que eram pra ser e estraguem o layout
    margin: 0px;
}
#titulo {
    color: rgb(89, 24, 24);
}

body {
    background-color: blanchedalmond;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/743/628/non_2x/cherry-pixel-art-png.png);
    background-size: 320px;
    background-position: right;
    background-repeat: repeat-y;
}

body div {
    width: 249px;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-left: 10px; 
}

body nav {
    width: 249px;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


li {
    list-style: none;
}

ul {
    display: flex;
    padding: 0px;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
nav a {
    color: black;
}

h1 {
    margin: 10px;
}*/

/*PROJETO ROCKETSEAT*/
:root {
    font-family: "Alice", serif;
    line-height: 150%;
}

img {
  border-radius: 16px;
}

body {
    background-image: url(assets/bg-image.jpg);
    background-size: cover;
}

#page {
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto;
    box-sizing: border-box;
}