* { /*sempre colocar essas coisas no global*/ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #EF5F4C; /*--nomedavariavel: valor, esses 2 hifens antes servem para criar uma variável*/
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff90; /*para ajustar a transparência, coloca o cursor em cima do topo #ffff e vai clicando escolha oq se sentir melhor e o ultimo valor (normalmente X.tal coisa) indica a transparencia ai por ex vc quer 33%, coloca 0.33)*/
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family); /*text large*/
    --text: 16px/150% /*ou 1.5*/ var(--font-family); 
    --text-md: 14px/170% var(--font-family); /*text medium*/
    --text-sm: 12px/170% var(--font-family); /*text small*/
}

body {
    color: var(--text-color-secondary);
    background-color: var(--background-color);
    font: var(--text)        
}

a {
    text-decoration: none;
    color: inherit; /*cor HERDADA, usa a cor da tag pai, nesse caso a do body*/
}

a:hover { /*quando o mouse estiver em cima do link*/
    color: var(--brand-color);
    text-decoration: underline;
}

.container {
    padding-inline: 32px; /*um padding só nas laterais*/
    max-width: 1280px; /*evita que o conteudo fique muito largo em telas grandes, com zoom maior/menor q 100% por ex*/
    margin-inline: auto; /*centraliza na horizontal, mas define auto apenas nas laterais, direita e esquerda */
}

.bg-surface-color {
    background-color: var(--surface-color);
}