/*
* { CSS LINHA 90
    box-sizing: border-box;
    para evitar que os tamanhos definidos saem do que eram pra ser e estraguem o layout
    margin: 0px;
}
#titulo {
    color: rgb(89, 24, 24);
}

body {
    background-color: blanchedalmond;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/743/628/non_2x/cherry-pixel-art-png.png);
    background-size: 320px;
    background-position: right;
    background-repeat: repeat-y;
}

body div {
    width: 249px;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-left: 10px; 
}

body nav {
    width: 249px;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


li {
    list-style: none;
}

ul {
    display: flex;
    padding: 0px;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
nav a {
    color: black;
}

h1 {
    margin: 10px;
}*/

/* .container { LINHA 117 a 132 TESTANDO
    display: flex;
    flex-direction: row;
    justify-content: center (outros tipos: space-evenly/around/between, flex-end/start)
} */


/* GRIDS LINHA 134 HTML
body {
    margin: 0;
}
#app > div {
    border: 1px solid red;    
}

span {
    border: 1px solid blue;
}

#app {
    display: grid; /*transforma os elementos em inblock mesmo que exista um span, ele se transforma em inblock
    inline-grid
    grid-template-columns: 1fr 1fr 1fr; fraction, unid de medida, tb pode ser escrito assim -> grid-template-columns: repeat (3, 1fr) 3 colunas cada um contendo 1fr
    grid-template-rows: repeat(3, 1fr);
    height: 100vh; viewport height, altura da tela do usuário, entao 100vh é 100% da altura da tela do usuário
    border: 2px solid green;
} */