.dropzone {
    border: 2px dashed transparent;
    outline: 1px dashed var(--stroke-default); /*linha que aparece ao redor do elemento*/
    border-radius: .25rem;
    display: grid;
    justify-items: center;
    gap: .5rem;
    text-align: center;
    padding: 1.75rem 1rem;
    position: relative;
    & input {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }

    & p {
        color: #a8a29e;
    }

    &:hover, &:has(input:focus) { /*“Quando existir um input focado dentro da .dropzone, estilize a .dropzone.”
        FOCUS = quando eu clico no input/caixa e aparece a linha do cursor, significa que está em focus*/
        outline-width: 0;
        border-color: var(--stroke-highlight);
        background-color: var(--surface-secondary);

        & p {
            color: var(--text-tertiary);
        }

        & svg path {
            stroke: var(--stroke-highlight); /*“Pegue o <path> que está dentro do <svg> (que está dentro da dropzone) e mude a cor do traço dele.”*/
        }
    }
}